{% extends 'backend/base.html' %}

{% block content9 %}


    <div class="weizhi">
   <table class="table table-hover">
                <tbody><tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>评论数</th>
                    <th>点赞数</th>
                    <th>编辑操作</th>
                    <th>删除操作</th>
                </tr>
                </tbody>
                <tbody>
                    {% for article in article_list %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="/{{ user }}/p/{{ article.pk }}">{{ article.title }}</a>
                            <span>({{ article.create_time|date:'Y-m-d H:i' }})</span>
                        </td>
                            <td>{{ article.comment_count }}</td>
                        <td>{{ article.up_count }}</td>
                        <td>
                            <a href="/uppdarticle/{{ article.pk }}">编辑</a>
                        </td>
                        <td>
                            <a href="javascript:;" class="deltat" pk="{{ article.pk }}">删除</a>
                        </td>

                        </tr>

                    {% endfor %}



            </tbody></table>
    </div>

    {% csrf_token %}

    <script>
    $('.deltat').click(function () {
        var _this = $(this);
        var pk = $(this).attr('pk');
        swal({
            title: "确定删除吗？",
            text: "你将无法恢复该文件！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定删除！",
            cancelButtonText: "取消删除！",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                swal("删除！", "您的文件已经被删除。",
                    "success");
                $.ajax({
                    url:'/deldarticle/',
                    type:'post',
                    data:{
                        pk:pk,
                        csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                    },
                    success:function (data) {
                        if (data){
                            _this.parent().parent().html('<p>删除成功!</p>').css('color','red')
                            }else {
                                window.location='/denglu/'
                            }
                    }
                })
            } else {
                swal("取消！", "取消成功:)",
                    "error");
            }
        });
    })




    </script>
{% endblock %}