{% extends 'base.html' %}

{% block content %}

    {% csrf_token %}
    <div>
        <a href="">{{ article_obj.title }}</a>
    </div>
    <hr>
    <div>
        {{ article_obj.content|safe }}
    </div>


<div class="clearfix">
    <div id="div_digg">
        <div class="diggit action">
            <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
        </div>
        <div class="buryit action">
            <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
        </div>
        <div class="clear"></div>
        <div class="diggword" id="digg_tips">
        </div>

    </div>
</div>

    <div class="comment">
        <div>
            <p>评论列表</p>

            <ul class="list-group comment_list">
                {% for comment in comment_list %}
                    <li class="list-group-item">
                    <div>
                        <a>#{{ forloop.counter }}楼</a>&nbsp;&nbsp;
                        <span>{{ comment.create_time|date:"Y-m-d H:i:s" }}</span>&nbsp;&nbsp;
                        <a>{{ request.user.username }}</a>
                        <a href="javascript:void(0)" class="pull-right retply_btn" username="{{ comment.user.username }}" comment_id="{{ comment.pk }}">回复</a>
                    </div>
                        {% if comment.parent_comment_id %}
                            <div class="well">
                            <p><span><a href="javascript:void(0)">@</a>&nbsp;</span>{{ comment.user.username }}:{{ comment.parent_comment.content }}</p>
                            </div>
                        {% endif %}
                    <div>
                        <p>{{ comment.content }}</p>
                    </div>

                    </li>
                {% endfor %}


            </ul>
        </div>




        <div>
            <p>发表评论</p>
        </div>
        <div class="commentform">
                <p>昵称：<input type="text" id="tbCommentAuthor" class="author small" disabled="disabled" size="50" value="{{ request.user.username }}"></p>
        </div>
        <div>
            <textarea name="" id="content" cols="60" rows="10"></textarea>
        </div>
        <div>
            <input type="submit" value="提交" class="btn btn-default count_btn">
        </div>
    </div>



    <script>
{#    点赞操作#}
    $('.action').click(function () {


        {#如果有这个类就是Ture，否则就是Fosel#}
        var is_up = $(this).hasClass('diggit');
        var _this = $(this).children("span");

        $.ajax({
            url: "/digg/",
            type: 'post',
            data: {
                pk:{{ article_obj.nid }},
                is_up:is_up,

                csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
            },
            success: function (data) {
                console.log(data);
                if(data.state){
                    {#提交成功#}
                    var val = _this.text();
                    _this.text(parseInt(val)+1)
                }else{
                    {#重复提交#}
                    if(data.handled){
                        $("#digg_tips").html('您已经推荐过了')
                    }else{
                         $("#digg_tips").html('您已经反对过了')
                    }

                }
            }
        })

    });
    {#根评论#}
    var parent_comment_id = '';
    $('.count_btn').click(function () {
        var content = $('#content').val();

        var request="{{ user_denglu|safe }}";
        if (parent_comment_id){
            var index = content.indexOf('\n');
            content = content.slice(index+1)
        }

        $.ajax({
            url:'pinglun/',
            type:'post',
            data:{
                parent_comment_id:parent_comment_id,
                content:content,
                article_id:'{{ article_obj.pk }}',
                csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()

            },
            success:function (data) {
                    if(parent_comment_id){
                        var $li = `<li class="list-group-item">
                        <div>
                        <span>${ data.timer }</span>&nbsp;&nbsp;
                        <a>${ request }</a>
                        <a href="javascript:void(0)" class="pull-right retply_btn" username="{{ comment.user.username }}" comment_id="{{ comment.pk }}">回复</a>
                    </div>

                            <div class="well">
                            <p><span><a href="javascript:void(0)">@</a>&nbsp;</span>${ data.fat_user }:${ data.fat_content }</p>
                            </div>

                    <div>
                        <p>${ data.content }</p>
                    </div>
                    </li>
                        `
                    }else{
                        var $li = `<li class="list-group-item">
                    <div>
                        <span>${ data.timer }</span>&nbsp;&nbsp;
                        <a>${ request }</a>
                    </div>
                    <div>
                        <p>${ data.content }</p>
                    </div>

                    </li>`;
                    }

                    $('.comment_list').append($li);


                    $('#content').val('')

            }
        })
    });

    {#子评论#}
    $('.retply_btn').click(function () {
        $('#content').focus();
        var val='@'+$(this).attr('username')+'\n';
        $('#content').val(val);

        parent_comment_id = $(this).attr('comment_id');

    })


    </script>



{% endblock %}

